@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&@800display=swap");
:root {
  --cursor-text: #ff9d00;
  --text-correct: #0c7c59;
  --text-incorrect: #d64933;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
}

body {
  padding: 0.5rem 2rem;
}

img {
  width: 100%;
}

.nav {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.container {
  width: 75%;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.quote-display {
  margin-bottom: 1rem;
  margin-right: calc(0.5rem + 1px);
  margin-left: calc(0.5rem + 1px);
  display: flex;
  flex-wrap: wrap;
}

.quote-display.filter {
  filter: blur(4px);
}

.quote-display .char {
  word-spacing: -5px;
  font-size: 30px;
  white-space: pre-wrap;
  user-select: none;
  line-height: 1.5;
  position: relative;
}
.current::before {
  content: "";
  height: 32px;
  border-left: 2px solid var(--cursor-text);
  position: absolute;
  top: 0;
  bottom: 0;
}

.quote-input {
  width: 1px;
  bottom: 0;
  right: 0;
  cursor: default;
  background: none;
  border: none;
  position: absolute;
  color: rgba(241, 236, 206, 0%);
  outline: none;
}

.correct {
  color: var(--text-correct);
}

.incorrect {
  color: var(--text-incorrect);
  text-decoration: underline;
}

.info {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  z-index: 10;
}

.reload {
  border: none;
  background: none;
  padding: 0;
  width: 1.5rem;
  margin: 2rem auto 0;
  cursor: pointer;
}

.reload:hover {
  opacity: 0.7;
}

.skeleton {
  width: 100%;
  height: 1.2rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton:last-child {
  width: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
